/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body {
  text-align:center;
  margin: 0 auto;
  padding: 25px;
  font-family: 'Bungee', sans-serif;
  font-size: 1.5rem;
}
h1{
  font-size: 72px;
  background: -webkit-linear-gradient(#ce32d1, #2f259e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
h2 {
  margin: 0 0 10px 0;
  color: #231b74;
}
table {
  margin: 0 auto;
  border: 5px solid #231b74;
  box-shadow: inset 0px 0px 40px 40px #ce32d1;
  border-radius: 10px;
  font-size: .75em;
  font-family: 'PT Sans Narrow', sans-serif; 
  font-weight: 700;
  letter-spacing: .05rem;
  text-transform: uppercase;
  color: #f1f1f1;
}
th {
  height:6vw;
  background: -webkit-linear-gradient(#ce32d1, #872072);
  padding: 4px;
  font-size: 1.35rem;
}
td {
  width: 15vw;
  height: 8vw;
  background-color: #221e55;
  padding: 5px;
  font-weight: normal;
  font-size: 1.25rem;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: initial;
}
button {
  filter: blur(3px);
  width: 26vw;
  margin: 25px auto;
  padding: 10px 20px;
  font-family: 'Bungee', sans-serif;
  letter-spacing: .05rem;
  font-size: 1.5rem;
  border: none;
  background: -webkit-linear-gradient(#ce32d1, #2f259e);
  color: #f1f1f1;
  border-radius: 8px;
  transition: all ease-in-out .15s;
}
button:hover {
  filter: blur(0px);
  cursor: pointer;
}
td:hover {
  cursor: pointer;
}
.question {
  color: #f1f1f1;
}
.answer {
  color: #ce32d1;
}