body {
  text-align: center;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  color: #323e49;
}
#container {
  margin: 0 50px;
  height: 70%;
}
#gameboard {
  width: 100%;
  background-color: #e8e114;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
}
.slot {
  width: 10vw;
  height: 10vw;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #f2ec43;
}
/* RESET */
button {
  cursor: pointer;
  width: 125px;
  margin: 15px 0;
  padding: 10px 15px;
  letter-spacing: .05rem;
}
